# raw data and intermediate files
data/
metadata/
aligned/
trimmed/
freyja_variants/
freyja_demix/
freyja_aggregate/
logs/
env/
samples.txt
testing.md

# system & temp files
*.log
*.out
*.err
*.tmp
*.tsv
*.csv
*.fastq*
*.bam
*.sam
*.vcf
.DS_Store
*.swp

# RStudio artifacts
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile
.Renviron
*.Rproj

# analysis results
analysis/figures/
coverage/

# sync scripts
scripts/sync_freyja_agg.sh

# exploratory scripts
analysis/bphc_ww_R/meta_exp.R

# notebook
notebook.md

# RETAIN select files
!scripts/
!reference/
!barcodes/
!README.md


